
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 8px 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 32px;
    width: 300px;
    gap: 5px;
}

label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    width: 80px;
    text-indent: 5px;
}

.input-container select,
.input-container input[type="text"],
.input-container textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.date-type {
    display: flex;
    align-items: center;
}
#date-day {
    width: 25px;
}
#date-calendar {
    border: none;
    background: transparent;
    color: transparent;
    font-size: 0;
}
#date-calendar::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
#text-type, #code-type, #text-area {
    width: 200px;
}
#number-type {
    width: 200px;
    text-align: right;
}
#number-type::placeholder {
    text-align: left;
}

#textarea-type {
    resize: none;
}

.separator {
    font-size: 14px;
    font-weight: bold;
    margin: 0 2px;
}