
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 5px;
}

.prop-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    width: 160px;
}

input, select, textarea {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 날짜형 */
.date-type {
    display: flex;
    align-items: center;
    width: 100%;
}

.date-type select {
    padding: 7px;
}

#date-day {
    padding: 7px;
    width: 18px;
}
.separator {
    font-size: 16px;
    font-weight: bold;
    margin: 0 6px;
}
#date-calendar {
    border: none;
    background: transparent;
    color: transparent;
    font-size: 0;
    padding: 0px;
}
#date-calendar::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

/* 문자형, 장문형, 숫자형, 코드형 */
#text-type, #textarea-type, #number-type, #code-type {
    font-family: Arial, sans-serif;
    width: 100%;
    display: block;
}
#number-type {
    text-align: right;
}
#number-type::placeholder {
    text-align: left;
}
#textarea-type {
    resize: none;
}


/* 설정 화면용 css */
.settingform-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
}

.list-container {  
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    padding: 12px;
    border-radius: 8px;
    min-height: 50px;
}

.submit-container {
    text-align: right;
    margin-top: 20px;
}

.add-prop-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-prop-container label {
    font-size: 12px;
    width: 80px;
    margin-left: 10px;
}

h1 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.remove-item {
    background-color: #f44336;
    margin-left: auto;
    padding: 8px;
}

/* 입력화면에 설정할 항목(아이템) */
.item-to-add {
    display: flex;
    padding: 4px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.item-to-add .prop-name {
    width: 200px;
    font-size: 12px;
    text-overflow: ellipsis;
  }

  #no-data-message {
    display: block; 
    text-align: center; 
    font-size: 12px; 
    color: #888;
  }